@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "style";
@import "utilites";
@import "~react-toastify/dist/ReactToastify.min.css";
@import "~@fortawesome/fontawesome-svg-core/styles.css";
